:root {
	// line-height
	--heading-line-height: 1.2;
	--body-line-height: 1.4;
}

body {
	font-size: var(--text-base-size, 1em);
	font-weight: 400;
	font-family: var(--font-primary, sans-serif);
	color: var(--color-contrast-high, hsl(240, 4%, 20%));
}

h1,
h2,
h3,
h4 {
	color: var(--color-contrast-higher, hsl(240, 8%, 12%));
	line-height: var(--heading-line-height, 1.2);
}

h1 {
	font-size: var(--text-xxl, 2.074em);
}

h2 {
	font-size: var(--text-xl, 1.728em);
}

h3 {
	font-size: var(--text-lg, 1.44em);
}

h4 {
	font-size: var(--text-md, 1.2em);
}

small {
	font-size: var(--text-sm, 0.833em);
}

h1 {
	font-size: var(--text-xxl, 2.28rem);
}

h2 {
	font-size: var(--text-xl, 1.85rem);
}

h3 {
	font-size: var(--text-lg, 1.57rem);
}

h4 {
	font-size: var(--text-md, 1.28rem);
}

h5 {
	font-size: var(--text-sm, 1.07rem);
	font-weight: 500;
}

h6 {
	font-size: var(--text-xs, 0.85rem);
}

.button-text {
	font-size: var(--text-md);
	font-weight: 700;
}

.lead-text {
	font-size: var(--text-lg);
}

.caption-text {
	font-size: var(--text-xs);
}

// --------------------------------

// Inline Text

// --------------------------------

a,
.link {
	color: var(--color-primary, hsl(220, 90%, 56%));
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

s {
	text-decoration: line-through;
}

u {
	text-decoration: underline;
}

// --------------------------------

// Text Component - class used to stylize text blocks

// --------------------------------
