.form-control {
	// basic form element style
	--form-control-padding-y: 10px; // padding top/bottom
	--form-control-padding-x: 16px; // padding left/right
	--form-control-radius: 12px; // border radius
	--form-control-font-size: 0.875rem; // font size
	--form-control-border-color: var(--form-border-color, hsl(0, 0%, 82%));
	line-height: 1.2;
	background-color: var(--color-bg);
	border: 1px solid var(--form-control-border-color);
	transition: .2s;

	&::placeholder {
		opacity: 1;
		color: var(--form-control-placeholder-color, var(--color-contrast-medium));
	}

	&:focus {
		outline: none;
		border-color: var(--color-primary);
		box-shadow: 0 0 0 2px alpha(var(--color-primary), 0.2);
	}
}

.form-control--error,
.form-control[aria-invalid="true"] {
	border-color: var(--color-error);

	&:focus {
		box-shadow: 0 0 0 2px alpha(var(--color-error), 0.2);
	}
}

.form-control--disabled,
.form-control[disabled],
.form-control[readonly] {
	cursor: not-allowed;
}
