@import "@/styles/styles.scss";

.form-item {

	.form-label {
		font-size: rem(12px);
		font-weight: 600;
		font-family: var(--font-secondary);
		line-height: 18px;

		color: var(--color-dark);
	}

	.form-control {
		--form-control-placeholder-color: hsl(0, 0%, 66%);

		width: 100%;
		height: 100%;
	}

	.form-control--float {
		position: absolute;
		width: var(--input-icon-size);
		height: var(--input-icon-size);
		top: calc(50% - var(--input-icon-size)/2);
	}

	&[class*=right] {
		.form-control {
			padding-right: calc(var(--form-control-padding-x) + var(--input-icon-size) + var(--input-icon-text-gap));
		}

		.form-control--float {
			right: var(--form-control-padding-x);
		}
	}

	&[class*=left] {
		.form-control {
			padding-left: calc(var(--form-control-padding-x) + var(--input-icon-size) + var(--input-icon-text-gap));
		}

		.form-control--float {
			left: var(--form-control-padding-x);
		}
	}

	&:not(.form-item__category) {
		.custom-wrapper {
			width: 100%;
		}
	}
}

.form-control-group {
	--input-icon-size: 1rem; // icon size
	--input-icon-text-gap: var(--space-sm); // gap between icon and text
	--form-control-padding-x: 17px;

	max-width: 20rem;

	position: relative;
}
